/* Comments can be c++ style or c */


//   global settings
//   {
//     fork <0 for no fork, 1 to fork>
//     debuglevel <0 none, 1 fatal, 2 error, 3 warn, 4 all, 5 debug>
//   }

global settings
{
  fork 0 
  debuglevel 5
}


//   network <Network Label>
//   {
//     nick <nickname to use on network>
//     altnick <nickname to use if nick is taken>
//     
//     realname <Whatever you want in your realname slot>
//
//     // The bot listens to this port for DCC/telnet for users
//     userlisten <Whatever port you want to listen on for DCC conole>
//
//     channel <channel to join>
//   }

network local
{
		nick Trollbot
		altnick TrollBot2
	
		vhost 192.168.0.4

		userfile db/userdb.local
		chanfile db/chandb.local

		javascript scripts/test.js

		channel #test

    tclscript scripts/test.tcl
    tclscript scripts/cryptoquote-1.02.tcl
    phpscript scripts/bmi.php
    phpscript scripts/mirckey.php
    phpscript scripts/test.php
    phpscript scripts/dnd.php
    javascript scripts/test.js

		server localhost
}

/*
network DALnet
{
    nick Anna_Botten
    altnick othertroll
    ident rawr
    realname "http://www.sourceforge.net/projects/trollbot"
		vhost 192.168.2.6 
   
		//channel #
    channel #php
    //channel #tcl
    //channel #christian_debate 
    //channel #

    userfile db/userdb.DALnet
    chanfile db/chandb.DALnet

    userlisten 64121

		tclscript scripts/test.tcl
    tclscript scripts/cryptoquote-1.02.tcl
    phpscript scripts/bmi.php
    phpscript scripts/mirckey.php
    phpscript scripts/test.php
    phpscript scripts/dnd.php
		javascript scripts/test.js

    server swiftco.dal.net:6668
}
*/
