/* Comments can be c++ style or c */
/* All lines are <key> <value>, both the keys and the
 * values can have spaces, but they need to be wrapped in
 * quotes
 */ 
//   global settings
//   {
//     fork <0 for no fork, 1 to fork>
//     debuglevel <0 none, 1 fatal, 2 error, 3 warn, 4 all, 5 debug>
//   }

global settings
{
	/* Go into the background on startup? */
  fork 1

	/* Do not output anything by troll_debug() */
  debuglevel 0

  // Logfile flags:
  //   b - information about bot linking and userfile sharing
  //   c - commands
  //   d - misc debug information
  //   h - raw share traffic
  //   j - joins, parts, quits, and netsplits on the channel
  //   k - kicks, bans, and mode changes on the channel
  //   m - private msgs, notices and ctcps to the bot
  //   o - misc info, errors, etc (IMPORTANT STUFF)
  //   p - public text on the channel
  //   r - raw incoming server traffic
  //   s - server connects, disconnects, and notices
  //   t - raw botnet traffic
  //   v - raw outgoing server traffic
  //   w - wallops (make sure the bot sets +w in init-server)
  //   x - file transfers and file-area commands
	//console_log_flags abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

	/* Which hash type should users use by default
	 * Existing users will be converted to this on
	 * save
	 */
	hash_type sha512
}


/*
ics_server freechess.org
{
	username jeanclaude
	password maisno

	server freechess.org:5000
}
*/
/*
xmpp_server localhost
{
  // Acceptable auth modes (Used in order of listing)
  auth_type DIGEST-MD5
  auth_type PLAIN

  username Trollbot

  // Default, all others fall to this
  password_plain foo

  // Optional if password_plain is provided
  // Used if specified
  password_md5 d3b07384d113edec49eaa6238ad5ff00

  // XMPP server w/ optional port
  // Mirrors can be listed
  // use sslserver if using old style ssl and not SASL
  server localhost:5222
}*/

//   network <Network Label>
//   {
//     nick <nickname to use on network>
//     altnick <nickname to use if nick is taken>
//     
//     realname <Whatever you want in your realname slot>
//
//     // The bot listens to this port for DCC/telnet for users
//     userlisten <Whatever port you want to listen on for DCC conole>
//
//     channel <channel to join>
//   }

network DALnet
{
		// Nick to use when connecting to network
    nick Trollbot
		// Alternative nickname to use, can contain ? for random numbers
    altnick Trollbot

		// Ident/Username to tell server
    ident rawr

		// Realname/GECOS
    realname "http://www.sourceforge.net/projects/trollbot"

		// This is the hostname Trollbot will try and connect from
		vhost 192.168.2.6 
   
		// Static Channels (Cannot be removed via DCC)
    channel #php

		// This is where network specific user/channel files are
    userfile db/userdb.DALnet
    chanfile db/chandb.DALnet

		// Which port should Trollbot listen on for the console 
    userlisten 64121

		// What flags to give to a user if not specified when adding
		default-flags "hp"

		// Scripts to load
		tclscript scripts/test.tcl
    tclscript scripts/cryptoquote-1.02.tcl
    phpscript scripts/bmi.php
    phpscript scripts/mirckey.php
    phpscript scripts/test.php
    phpscript scripts/dnd.php
		javascript scripts/test.js

		// Servers:ports to try and connect to
    server swiftco.dal.net:6668

		// New feature, see log_filter.txt in doc/ (not there yet)
		// This config gets passed to the module, which 
		log_filter_module pgsql_log_filter
		{
			db_host localhost
			db_port 5432
			db_name troll_log

			db_user troll_log
			db_pass troll_log

			// Will auto-create
			db_tbl dalnet_log
			
			// Logs joins to database
			log_flags j
		}
}
